<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select Option Example 2</title>
</head>
<body>
<!-- Include _menu.html -->
<!--<th:block th:include="/_menu"></th:block>-->

<h2>Select Option Example 2</h2>

<form method='POST' name='f' th:object="${personForm}">
    <table>
        <tr>
            <td>Select Country:</td>
            <td>
                <select th:field="*{countryId}">
                    <option value=""> --</option>
                    <option th:each="entry : ${mapCountries.entrySet()}"
                            th:utext="${entry.value}"
                            th:value="${entry.key}">
                    </option>
                </select>

            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>